
.home_navbar {
display:flex;
    margin: 0;
    padding: 0;
    height: 120px;
    overflow: hidden;
    background-image:linear-gradient(to right,#ffffff,#e3e5fa,#0317fc);
  }
  
.nav-cont{
    margin-left: 20%;
    margin-top:20px ;
    text-align: center;
}
.logo{
    margin: 10px;
}

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }